<p-table #dt  class="order-table" [columns]="columns"  [value]="items"  [paginator]="true" [rows]="10">
    <ng-template pTemplate="header" let-columns>
       <div style="text-align: left">
            <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
            <input type="text" pInputText size="50" placeholder="Pesquisar" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
        </div>
  
        <tr>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field" [style.width.%]="col.width"
            [ngClass]="col.alignment">
                {{col.header}}
                <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
            </th>
            <th>Operação</th> 
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item let-columns="columns">
        <tr>
            <td *ngFor="let col of columns" [ngClass]="col.alignment" [style.width.%]="col.width">
              <div *ngIf="col.subfield;then nested_object_content else normal_content"></div>
                  <ng-template #nested_object_content>
                       {{item[col.field][col.subfield]}}
                  </ng-template>
                  <ng-template #normal_content>
                      {{item[col.field]}}
                  </ng-template>
                   
            </td>
  
            <td>
              <a [routerLink]="[item.id, 'edit']" class="btn btn-outline-info btn-sm mr-2">Editar</a>
              <button (click)="deleteResource(item)" class="btn btn-outline-danger btn-sm">Excluir</button>
            </td>
        </tr>
  
    </ng-template>
  </p-table>