<app-bread-crumb
  [items]="[{text: 'Solicitaçao', link: '/solicitacoes'}, {text: pageTitle}]"
></app-bread-crumb>

<app-page-header
  [page-title]="pageTitle"
  button-text="<< Voltar"
  button-link="/solicitacoes"
  button-class="btn-light"
></app-page-header>


<form [formGroup]="resourceForm" (submit)="submitForm()">

  <div class="card">
    <div class="card-header">
      Informações sobre Solicitaçao
    </div>

    <div class="card-body">
      <div class="form-row">
        <div class="form-group col-md-2">
          <label for="idnumeroSolicitacao">Numero</label>
          <input type="text" class="form-control" id="idnumeroSolicitacao" formControlName="numeroSolicitacao">

          <app-form-field-error [form-control]="resourceForm.get('numeroSolicitacao')"></app-form-field-error>
        </div>

        <div class="form-group col-md-2">
          <label for="iddataSolicitacao">Data Solicitaçao</label>
          <p-calendar
            id="iddataSolicitacao"
            formControlName="dataSolicitacao"
            inputStyleClass="form-control"
            dataType="string"
            dateFormat="dd/mm/yy"
            [locale]="ptBR"
            [showButtonBar]="true">
          </p-calendar>

          <app-form-field-error [form-control]="resourceForm.get('dataSolicitacao')"></app-form-field-error>
        </div>

        <div class="form-group col-md-2">
          <label for="iddataPrazo">Data Prazo</label>
          <p-calendar
            id="iddataPrazo"
            formControlName="dataPrazo"
            inputStyleClass="form-control"
            dataType="string"
            dateFormat="dd/mm/yy"
            [locale]="ptBR"
            [showButtonBar]="true">
          </p-calendar>

          <app-form-field-error [form-control]="resourceForm.get('dataPrazo')"></app-form-field-error>
        </div>
      </div>
      <div class="form-group col-md-2">
        <button type="button" (click)="insertEdit(null,false)" pButton icon="fa fa-plus" label="Novo"></button>
      </div>

    </div>
  </div>
   <table class="table table-hover">
    <thead>
      <tr class="bg-primary text-light">
        <th>Código</th>
        <th>Descriçao</th>
        <th>observaçao</th>
        <th>Status</th>
        <th>Tipo</th>
        <th>Qtd</th>
        <th>Operação</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let solicitacaoItem of resource.solicitacoesItens ; let i = index ; ">
        <td>
          {{solicitacaoItem.id}}
        </td>
        <td>
           {{solicitacaoItem.descricao}}
        </td>
        <td>
          {{solicitacaoItem.observacao}}
        </td>
        <td>
          {{solicitacaoItem.statusItem}}
        </td>
        <td>
          {{solicitacaoItem.tipoItem}}
        </td>
        <td>
          {{solicitacaoItem.qtd}}
        </td>
        <td>
          <button *ngIf="solicitacaoItem.id > 0" type="button" (click)="insertEdit(solicitacaoItem,true)" class="btn btn-outline-info btn-sm mr-2">Editar</button>
          <button type="button" (click)="delete(i)" class="btn btn-outline-danger btn-sm">Excluir</button>
        </td>
      </tr>
    </tbody>
  </table>
  <app-server-error-messages [server-error-messages]="serverErrorMessages"></app-server-error-messages>

  <button [disabled]="submittingForm || resourceForm.invalid" type="submit" class="btn btn-primary btn-lg float-right mt-3">
    Salvar
  </button>
  <p-dialog header="Item Solicitação" [(visible)]="display" [modal]="true" [responsive]="true" [style]="{width: '500px', minWidth: '350px'}" [minY]="70"
  [maximizable]="true" [baseZIndex]="10000">
  <div class="form-group col-md-6">
      <label for="idTipoItem">Tipo Item</label>
       <select name="tipoItem" #tipo id="idTipoItem" formControlName="tipoItem" class="form-control">
        <option *ngFor="let tipoitem of tipoItem" [value]="tipoitem.value">{{ tipoitem.label }}</option>
       </select>

         <app-form-field-error [form-control]="resourceForm.get('tipoItem')"></app-form-field-error>
    </div>

    <div class="form-group col-md-6">
      <label for="idstatusItem">Status</label>
       <select name="statusItem" #status id="idstatusItem" formControlName="statusItem" class="form-control">
        <option *ngFor="let status of statusItem" [value]="status.value">{{ status.label }}</option>
       </select>

         <app-form-field-error [form-control]="resourceForm.get('statusItem')"></app-form-field-error>
    </div>

    <div class="form-group col-md-6">
      <label for="idqtd">Quantidade</label>
      <input currencyMask  #qtdItem formControlName="qtd" [options]="{ prefix: '', thousands: ',', decimal: '.' }"/>

         <app-form-field-error [form-control]="resourceForm.get('qtd')"></app-form-field-error>
    </div>

    <div class="form-group col-md-6">
      <label for="iddescricao">Descrição</label>
      <input type="text" class="form-control" id="iddescricao" formControlName="descricao" #descricaoItem >

      <app-form-field-error [form-control]="resourceForm.get('descricao')"></app-form-field-error>
    </div>

    <div class="form-group col-md-6">
      <h3 class="first">Observação</h3>
     <textarea formControlName="observacao" #obsItem rows="5" cols="50" pInputTextarea></textarea>

     <app-form-field-error [form-control]="resourceForm.get('observacao')"></app-form-field-error>
   </div>
   <div class="form-group col-md-1">

      <input (click)="add(descricaoItem.value,tipo.value,status.value,qtdItem.value,obsItem.value)" class="btn btn-outline-info btn-sm mr-2" value="Salvar">
    </div>
  </p-dialog>

</form>
